.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #177232;
  transition: all 1s;
}

.navbar-expand-lg .navbar-nav .nav-link {
  position: relative;
  color: rgb(1, 9, 1);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  font-weight: 000;
}

.navbar-nav .nav-link.activa {
  color: #177232;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 2px;

}

.navbar .navbar-brand {
  color: #177232;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  font-weight: 500;
}

.navbar .navbar-brand:hover {
  color: #177232;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  font-weight: 500;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  color: rgb(98, 240, 240);
  height: 2px;
  background: #177232;
  transition: 0.4s
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item:hover {
  color: blue;
}

.mybtn {
  background-color: #088a5d;
  border: none;
  color: white;
  padding: 9px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 4px;
}

.mybtn:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgb(207, 20, 88);
}

.mybtn1 {
  background-color: #1a62af;
  border: none;
  color: white;
  padding: 9px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 4px;
}

.mybtn1:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

.inner {
  margin-top: 3%;
  width: 100%;
  padding: 4%;
  background-color: #d6dce3;
}

.cad {
  background-color: white;
  width: 90%;
  height: 100px;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  margin-top: 6%;
  display: inline-block;
  text-align: center;
  padding: 10%;
text-decoration: none;

  width: 100%;
  background-image: url(../../static/images/sssss.jpg);
  height: 150px;
  background-size: cover;
  text-align: center;
  align-items: center;
  border-radius: 5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;


}

.cad p {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 28px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.cad1 {
  background-color: #AAACAC;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-right: 3%;
}

.heck {
  color: #177232;
  text-align: center;
  padding-bottom: 15px;
}

.abs {
  background-color: #d6dce3;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 30px;
}

a {
  text-decoration: none !important;
}





.footr {
  background-color: black;
  width: 100%;
  align-items: center;
  text-align: center;
  color: white;
}