{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'css/adm_home.css' %}"> -->
    <style>
        h1 {
            padding-top: 50px;
            text-align: center;
            font-weight: bold;
        }

        .main {
            padding-top: 50px;
            width: 1200px;
        }
    </style>
</head>

<body>



    <div style="margin: 2%;">
        <input class="btn btn-primary" type="button" value="Go Back" onclick="history.back()">
    </div>
    <h1> View Staff </h1>

    <div class="container-fluid main">
        <div class="row">
            <div class="col-10">

                <table class="table table-primary table-striped">
                    <tr>
                        <th>Sl. No.</th>                       
                        <th>Name</th>
                        <th>Email</th>
                        <th>DOB</th>
                        <th>Gender</th>
                        <th>Phone No</th>
                        <th>Address</th>
                        <th>Qualification</th>
                        <th>Subject</th>
                        <th>Class teacher</th>
                    </tr>
                   
                    {% for teacher in data %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{teacher.staff.Staffname}}</td>
                        <td>{{teacher.staff.Staff_email}}</td>
                        <td>{{teacher.staff.Staff_dob}}</td>
                        <td>{{teacher.staff.Staff_gender}}</td>
                        <td>{{teacher.staff.Staff_mobile}}</td>
                        <td>{{teacher.staff.Staff_address}}</td>
                        <td>{{teacher.staff.Staff_qualification}}</td>
                        <td>{{teacher.Subject}}</td>
                        {% for classes in class %}
                         {% if teacher.id == classes.teacher.id %}
                        <td>{{classes.name}}</td>
        
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
               
            </div>
        </div>

    </div>

</body>

</html>