.cad2 {
    background-color: white;
    /* width: 80%;
    height: 90px; */
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    margin-left: 11%;
    margin-top: 10%;
    display: inline-block;
    text-align: center;


background-image: url(./vgg.jpg);
height: 150px;
background-size: cover;
text-align: center;
align-items: center;
border-radius: 3%;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



.footr {
    background-color: black;
    width: 100%;
    align-items: center;
    text-align: center;
    color: white;
}


.mybtn1 {
    background-color:black;
    border: none;
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 4px;
  }